.jumbotron
  .container.text-center
    = image_tag("header_logo.png", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          = link_to "Popular PROTO", root_path
        %li{:role => "presentation"}
      = link_to "View Tags", tags_path, class: "btn btn-default col-lg-1"

.container.proto-list
  .row
    - @prototypes.each do |prototype|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          %a{href: "/prototypes/#{prototype.id}"}
            = image_tag("#{prototype.pictures[0].file}")
            .caption
              %h3 
                = prototype.title
              .proto-meta
                .proto-user
                  %a{href: "/users/#{prototype.user.id}"} by #{prototype.user.user_name}
                .proto-posted
                  Apr 26
              %ul.proto-tag-list.list-inline
                - prototype.tag_list.each do |tag|
                  %li
                    = link_to tag, tag_path(tag), :class => "btn btn-default"
.text-center
  %ul.pagination

